
:root {
    --color-fondo: #FAF8F1;
    --color-primario: #FAEAB1;
    --color-secundario: #E5BA73;
    --color-terceario: #C58940
    }


.contenedor-header {
    display: flex;
    justify-content: space-between;
    margin: 45px;
}



nav {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

nav span {
    margin: 0px 10px;
    text-decoration: none;
}


    nav a {
    text-decoration: none;
    transition: .5s all;
    color: var(--color-secundario);
}

nav a:hover {
    color: var(--color-terceario);
}




.contenedor-slide {
    display: none;
}

@media screen and (max-width: 530px) and (min-width: 361px) {
    .contenedor-nombre {
        display: none;
    }

    .contenedor-header {
        justify-content: start;
        padding: 10px 0px;
        margin: 0px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    nav {
        display: none;
        justify-content: center;
    }

    nav span {
        margin: 0px 20px;
    }

    .contenedor-slide {
        display: flex;
    }

    .contenedor-slide a {
        color: var(--color-secundario);
    }

    .link-slide {
        color: var(--color-secundario);
    }

    .link-slide:hover {
        color: var(--color-terceario);
    }

    /* .contenedor-slide a {
        text-decoration: none;
    } */
}
/* 
@media screen and (max-width: 360px) {
    .contenedor-nombre {
        display: none;
    }

    nav span {
        margin: 0px 5px;
    }

    .contenedor-header {
        margin: 0px;
        padding: 20px   ;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        justify-content: center;
        
    }
} */